In [17]:
import numpy as np
import pandas as pd

In [27]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               '2012-01-01 00:00:10', '2012-01-01 00:00:11',
               '2012-01-01 00:00:12', '2012-01-01 00:00:13',
               '2012-01-01 00:00:14', '2012-01-01 00:00:15',
               '2012-01-01 00:00:16', '2012-01-01 00:00:17',
               '2012-01-01 00:00:18', '2012-01-01 00:00:19',
               '2012-01-01 00:00:20', '2012-01-01 00:00:21',
               '2012-01-01 00:00:22', '2012-01-01 00:00:23',
               '2012-01-01 00:00:24', '2012-01-01 00:00:25',
               '2012-01-01 00:00:26', '2012-01-01 00:00:27',
               '2012-01-01 00:00:28', '2012-01-01 00:00:29',
               '2012-01-01 00:00:30', '2012-01-01 00:00:31',
               '2012-01-01 00:00:32', '2012-01-01 00:00:33',
               '2012-01-01 00:00:34', '2012-01-01 00:00:35',
               '2012-01-01 00:00:36', '2012-01-01 00:00:37',
               '2012-01-01 00:00:38', '2012-01-01 00:00:39',
               '2012-01-01 00:00:40', '2012-01-01 00:00:41',
               '2012-01-01 00:00:42', '2012-01-01 00:00:43',
               '2012-01-01 00:00:44', '2012-01-01 00:00:45',
               '2012-01-01 00:00:46', '2012-01-01 00:00:47',
               '2012-01-01 00:00:48', '2012-01-01 00:00:49',
               '2012-01-01 00:00:50', '2012-01-01 00:00:51',
               '2012-01-01 00:00:52', '2012-01-01 00:00:53',
               '2012-01-01 00:00:54', '2012-01-01 00:00:55',
               '2012-01-01 00:00:56', '2012-01-01 00:00:57',
               '2012-01-01 00:00:58', '2012-01-01 00:00:59',
               '2012-01-01 00:01:00', '2012-01-01 00:01:01',
               '2012-01-01 00:01:02', '2012-01-01 00:01:03',
               '2012-01-01 00:01:04', '2012-01-01 00:01:05',
               '2012-01-01 00:01:06', '2012-01-01 00:01:07',
               '2012-01-01 00:01:08', '2012-01-01 00:01:09',
               '2012-01-01 00:01:10', '2012-01-01 00:01:11',
               '2012-01-01 00:01:12', '2012-01-01 00:01:13',
               '2012-01-01 00:01:14', '2012-01-01 00:01:15',
               '2012-01-01 00:01:16', '2012-01-01 00:01:17',
               '2012-01-01 00:01:18', '2012-01-01 00:01:19',
               '2012-01-01 00:01:20', '2012-01-01 00:01:21',
               '2012-01-01 00:01:22', '2012-01-01 00:01:23',
               '2012-01-01 00:01:24', '2012-01-01 00:01:25',
               '2012-01-01 00:01:26', '2012-01-01 00:01:27',
               '2012-01-01 00:01:28', '2012-01-01 00:01:29',
               '2012-01-01 00:01:30', '2012-01-01 00:01:31',
               '2012-01-01 00:01:32', '2012-01-01 00:01:33',
               '2012-01-01 00:01:34', '2012-01-01 00:01:35',
               '2012-01-01 00:01:36', '2012-01-01 00:01:37',
               '2012-01-01 00:01:38', '2012-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [28]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    220
2012-01-01 00:00:01    444
2012-01-01 00:00:02    416
2012-01-01 00:00:03    169
2012-01-01 00:00:04    410
2012-01-01 00:00:05    463
2012-01-01 00:00:06    422
2012-01-01 00:00:07    351
2012-01-01 00:00:08    394
2012-01-01 00:00:09    356
2012-01-01 00:00:10      3
2012-01-01 00:00:11    381
2012-01-01 00:00:12    205
2012-01-01 00:00:13      7
2012-01-01 00:00:14    302
2012-01-01 00:00:15    378
2012-01-01 00:00:16    226
2012-01-01 00:00:17    345
2012-01-01 00:00:18    118
2012-01-01 00:00:19    279
2012-01-01 00:00:20    334
2012-01-01 00:00:21    317
2012-01-01 00:00:22    172
2012-01-01 00:00:23      2
2012-01-01 00:00:24    191
2012-01-01 00:00:25    269
2012-01-01 00:00:26    240
2012-01-01 00:00:27    483
2012-01-01 00:00:28     19
2012-01-01 00:00:29    254
                      ...
2012-01-01 00:01:10    230
2012-01-01 00:01:11    169
2012-01-01 00:01:12    130
2012-01-01 00:01:13    172
2012-01-01 00:01:14     26
2012-01-01 00:01:15    299
2012-01-01 00:01:16     97
2012-01-01 00:01:17    230
2012-01-01 00:01:18    419
2012-01-01 00:01:19     41
2012-01-01 00:01:20    141
2012-01-01 00:01:21    143
2012-01-01 00:01:22     11
2012-01-01 00:01:23     80
2012-01-01 00:01:24     29
2012-01-01 00:01:25     15
2012-01-01 00:01:26    466
2012-01-01 00:01:27    217
2012-01-01 00:01:28    446
2012-01-01 00:01:29     69
2012-01-01 00:01:30    174
2012-01-01 00:01:31     43
2012-01-01 00:01:32    347
2012-01-01 00:01:33     43
2012-01-01 00:01:34    255
2012-01-01 00:01:35    200
2012-01-01 00:01:36    191
2012-01-01 00:01:37     74
2012-01-01 00:01:38    117
2012-01-01 00:01:39    307
Freq: S, dtype: int32

In [30]:
ts.resample('5Min')

C:\Program Files\Anaconda3\lib\site-packages\IPython\utils\dir2.py:65: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  canary = getattr(obj, '_ipython_canary_method_should_not_exist_', None)
C:\Program Files\Anaconda3\lib\site-packages\IPython\utils\dir2.py:74: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  m = getattr(obj, name, None)

DatetimeIndexResampler [freq=<5 * Minutes>, axis=0, closed=left, label=left, convention=start, base=0]

In [22]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.271821 -0.234826
      two     1.275833 -0.198930
baz   one     0.606506 -0.563154
      two    -0.007158 -0.520331

In [24]:
stacked=df2.stack()
stacked

first  second
bar    one     A   -0.271821
               B   -0.234826
       two     A    1.275833
               B   -0.198930
baz    one     A    0.606506
               B   -0.563154
       two     A   -0.007158
               B   -0.520331
dtype: float64

In [9]:
s

0    0.225890
1    0.844639
2   -0.760958
3    0.659506
4   -0.609480
dtype: float64

In [11]:
print(s[1:]); print(s[:-1]); print(s[1:] + s[:-1])

1    0.844639
2   -0.760958
3    0.659506
4   -0.609480
dtype: float64
0    0.225890
1    0.844639
2   -0.760958
3    0.659506
dtype: float64
0         NaN
1    1.689279
2   -1.521915
3    1.319012
4         NaN
dtype: float64

In [13]:
data = numpy.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])
data

array([(0, 0.0, b''), (0, 0.0, b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [14]:
data[:] = [(1,2.,'Hello'), (2,3.,"World")]
data

array([(1, 2.0, b'Hello'), (2, 3.0, b'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])