In [12]:
import pandas
url='http://mlr.cs.umass.edu/ml/machine-learning-databases/car/car.data'
names=['buying','maint','doors','persons','lug_boot','class']
dataframe=pandas.read_csv(url,names=names)

In [13]:
dataframe.shape

(1728, 6)

In [14]:
dataframe.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
class       object
dtype: object

In [15]:
dataframe.head(10)

      buying maint doors persons lug_boot  class
vhigh  vhigh     2     2   small      low  unacc
vhigh  vhigh     2     2   small      med  unacc
vhigh  vhigh     2     2   small     high  unacc
vhigh  vhigh     2     2     med      low  unacc
vhigh  vhigh     2     2     med      med  unacc
vhigh  vhigh     2     2     med     high  unacc
vhigh  vhigh     2     2     big      low  unacc
vhigh  vhigh     2     2     big      med  unacc
vhigh  vhigh     2     2     big     high  unacc
vhigh  vhigh     2     4   small      low  unacc

In [16]:
dataframe.tail(10)

    buying  maint doors persons lug_boot  class
low    low  5more     4     big     high  vgood
low    low  5more  more   small      low  unacc
low    low  5more  more   small      med    acc
low    low  5more  more   small     high   good
low    low  5more  more     med      low  unacc
low    low  5more  more     med      med   good
low    low  5more  more     med     high  vgood
low    low  5more  more     big      low  unacc
low    low  5more  more     big      med   good
low    low  5more  more     big     high  vgood

In [17]:
dataframe.describe()

       buying maint doors persons lug_boot  class
count    1728  1728  1728    1728     1728   1728
unique      4     4     3       3        3      4
top      high     2     2   small     high  unacc
freq      432   432   576     576      576   1210

In [19]:
print('buying: {}'.format(dataframe['buying'].unique()))
print('maint: {}'.format(dataframe['maint'].unique()))
print('doors: {}'.format(dataframe['doors'].unique()))
print('persons: {}'.format(dataframe['persons'].unique()))
print('lug_boot: {}'.format(dataframe['lug_boot'].unique()))
print('class: {}'.format(dataframe['class'].unique()))

buying: ['vhigh' 'high' 'med' 'low']
maint: ['2' '3' '4' '5more']
doors: ['2' '4' 'more']
persons: ['small' 'med' 'big']
lug_boot: ['low' 'med' 'high']
class: ['unacc' 'acc' 'vgood' 'good']

In [21]:
dataframe.groupby('class').size()

class
acc       384
good       69
unacc    1210
vgood      65
dtype: int64

In [30]:
%matplotlib inline
from matplotlib import pyplot
import numpy
import seaborn

In [31]:
seaborn.pairplot(dataframe,hue='class')

IndexError: index out of range