In [1]:
import pandas

In [5]:
url='http://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt'
col_names=['variance','skewness','curtosis','entropy','class']
df_banknote=pandas.read_csv(url,names=col_names)

In [6]:
df_banknote.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [7]:
df_banknote.tail()

      variance  skewness  curtosis  entropy  class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [8]:
df_banknote.shape

(1372, 5)

In [9]:
df_banknote.dtypes

variance    float64
skewness    float64
curtosis    float64
entropy     float64
class         int64
dtype: object

In [10]:
pandas.set_option('display.width',100)
pandas.set_option('precision',3)
df_banknote.describe()

       variance  skewness  curtosis   entropy     class
count  1372.000  1372.000  1372.000  1372.000  1372.000
mean      0.434     1.922     1.398    -1.192     0.445
std       2.843     5.869     4.310     2.101     0.497
min      -7.042   -13.773    -5.286    -8.548     0.000
25%      -1.773    -1.708    -1.575    -2.413     0.000
50%       0.496     2.320     0.617    -0.587     0.000
75%       2.821     6.815     3.179     0.395     1.000
max       6.825    12.952    17.927     2.450     1.000

In [11]:
df_banknote.groupby('class').size()

class
0    762
1    610
dtype: int64

In [12]:
df_banknote.corr(method='pearson')

          variance  skewness  curtosis  entropy  class
variance     1.000     0.264    -0.381    0.277 -0.725
skewness     0.264     1.000    -0.787   -0.526 -0.445
curtosis    -0.381    -0.787     1.000    0.319  0.156
entropy      0.277    -0.526     0.319    1.000 -0.023
class       -0.725    -0.445     0.156   -0.023  1.000

In [13]:
df_banknote.skew()

variance   -0.149
skewness   -0.394
curtosis    1.089
entropy    -1.022
class       0.223
dtype: float64